body{
	font-family: 'Questrial', sans-serif; /* Fonts for logo (from google fonts)*/
}


/* our Website ID = wrapper */
#wrapper 
	{
		text-align: center;
		max-width: 940px;
		margin: 0 auto 0 auto;
		padding: 0 5% 0 5%;
	}

/* our Website ID = Info */
#Info{
	margin: 0;
	text-align: center;
	font-family: 'Bungee Shade', cursive;  /* Fonts for logo (from google fonts)*/
}

#Info a{
	color: #222222; /* Dark Gray*/
}

#Info h1 {
	font-size: 2.0em; /* = 32px */
}

#Info 
	{
	font-size: 1.25em;
	font-weight: normal;

}

/* link color and properties */

a{
	color: #fb3c3c; /*Pinkish Red */
}

a:visited {
	color: #fb3c3c; /*Pinkish Red */
}


header a {
	text-decoration: none;
}

/* our Website CLASS = NavigationLinks */
nav{
	text-align: center;

}
.NavigationLinks {
		font-size: 20px;
}
nav a:hover {
	color: #af2a2a; /* Darker Red */
	font-weight: bold;
}


nav ul li {
	padding: 0;
	margin: 0 20px 5px 0;
	display: inline-block;
	
}

/* our Website Footer */

footer {
	text-font: 1.25em;
	color: #222222;
	text-align: center;
	clear: both;
	font-style: italic;
}

.Socialicon {

max-heigt: 30px;
max-width: 30px;
	
}

/* our websit ID = Portfolio */

img{
	max-width: 100%;

}

#Portfolio {
	line-style: none;

}

#Portfolio li {

	width: 95%;
	margin: 10px 2.5% 0 2.5%;
}


/* website ID = AboutMe */

#About h3{
	text-align: center;
	font-size: 25px;
	text-decoration: underline;
}
#About {
		text-align: none;
		max-width: 940px;
		margin: 0 auto 0 auto;
		padding: 0 5% 0 5%;
}

.ProfilePic {
	max-width: 200px;
	margin: 5px auto 5px auto;
	display: block;
}

/* website ID = contact */

#Contact {
	max-width: 940px;
	margin: 0 20px 0 20px;

}

#Contact h3{
	text-decoration: underline;
}


/* website blog page ID = Blog */


.BlogProfilePic {
	max-width: 200px;
	margin: 5px auto 5px auto;
	display: block;
	border-radius: 100%;
}

sidebar li{
	text-align: center;
	margin: 0;
}


.BlogContent{
	text-align: none;
	margin: 0 auto 0 auto;
	padding: 0 5% 0 5%;
}

.BlogContent h4{
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	text-decoration: underline;
}



@media screen and (min-width: 600px){

	#Portfolio li{
		float: left;
		width: 45%;
		margin: 2.5%;
	}

	.Sidebar{
	float: right;
	margin: 0 5% 0 5%;
}
}

@media screen and (min-width: 900px){

	#Portfolio li{
		float: left;
		width: 25%;
		margin: 2.5%;
	}
}
